@page "/"
@using Car_Rental.Common.Enums
@using Business.Classes
@inject BookingProcessor b

<PageTitle>Car Rental Assignment - VG</PageTitle>

<h1>Car Rental Assignment - VG</h1>

<!-- SVG Block -->

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>



<!-- Error Message -->
@if (b.ErrorMessage != string.Empty)
{
    <div class="mb-4 alert alert-danger" style="height: 40%">
        <strong>Error</strong> @b.ErrorMessage
    </div>
}

<br />
<!-- Vehicles  -->
<div class="container">
    <h4><strong>Vehicles</strong></h4>
    <table class="table border border-black">
        <thead class="table-dark">
            <tr>
                <td>  <input type="text" class="form-control" placeholder="RegNo" disabled="@b._isTaskRunning" @bind="b.NewVehicle.RegNo"></td>
                <td>
                    <select class="form-select border border-dark" disabled="@b._isTaskRunning" @bind="b.NewVehicle.VehicleMake">
                    
                        @foreach (var vehiclemake in b.VehicleMakeNames)
                        {
                           <option value="@b.GetVehiclesMake(vehiclemake)">@vehiclemake</option>
                        }
                    </select>
                </td>
                <td>
                    <select class="form-select border border-dark" disabled="@b._isTaskRunning" @bind="b.NewVehicle.VehicleType">
                       
                        @foreach (var vehicletype in b.VehicleTypeNames)
                        {
                            <option value="@b.GetVehiclesType(vehicletype)">@vehicletype</option>
                        }
                    </select>
                </td>
                <td>  <input type="text" class="form-control" placeholder="Odometer" disabled="@b._isTaskRunning" @bind="b.NewVehicle.Odometer"></td>
                <td>  <input type="text" class="form-control" placeholder="Cost/Km" disabled="@b._isTaskRunning" @bind="b.NewVehicle.CostKm"></td>
                <td>  <input type="text" class="form-control" placeholder="Cost/Day" disabled="@b._isTaskRunning" @bind="b.NewVehicle.CostDay"></td>
                <td>
                    @if (b._isTaskRunning)
                    {
                        <div class="badge bg-warning d-lg-table-cell" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                            <div>
                                Processing Booking
                            </div>

                        </div>
                    }
                </td>
                <td> <input class="btn btn-primary form-control" type="submit" disabled="@b._isTaskRunning" value="Add" @onclick="() => b.AddVehicle( b.NewVehicle.VehicleMake, b.NewVehicle.RegNo, b.NewVehicle.Odometer, b.NewVehicle.CostKm, b.NewVehicle.CostDay ,b.NewVehicle.VStatus, b.NewVehicle.VehicleType)"></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Make</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">Odometer</th>
                <th scope="col">Cost/Km</th>
                <th scope="col">Cost/Day</th>
                <th scope="col">Status</th>
                <th scope="col">
                    <td>
                        <!-- Customer selection for booking -->

                    <select class="form-select border border-dark" disabled="@b._isTaskRunning" @bind="b.NewCustomer.Id">
                        
                            @foreach (var customer in b.GetCustomers())
                            {

                               <option value="@customer.Id">@customer.FirstName @customer.LastName (@customer.SocialSecurityNumber)</option>

                            }
                    </select>

                    </td>
                </th>
                <th></th>
                <th></th>

            </tr>
        </thead>

        
      
        <tbody>
    
             @foreach(var vehicle in b.GetVehicles())
            {
                <tr class="border table-borderless">

                    <th>@vehicle.RegNo</th>
                    <td>@vehicle.VehicleMake</td>
                    <td>@vehicle.VehicleType</td>
                    <td>@vehicle.Odometer</td>
                    <td>@vehicle.CostKm</td>
                    <td>@vehicle.CostDay</td>

                    @if(vehicle.VStatus.Equals(VehicleStatuses.Available))
                    {
                        @* Code the logic for switching available or Booked with ternary expression? *@
                        <td><span class="badge rounded-pill text-bg-@(vehicle.VStatus > 0 ? "danger" : "dark")">@vehicle.VStatus</span></td>
                       // <td><span class="badge rounded-pill text-bg-dark">Available</span></td>
                        <td>
                            @* Booking button *@
                            <input class="btn btn-primary" type="submit" value="Rent Vehicle" disabled="@b._isTaskRunning" @onclick="() => b.AsyncBooking( vehicle.Id, b.NewCustomer.Id)">
                        </td>
                    }
                    else
                    {
                        @* Code the logic for switching available or Booked with ternary expression? *@
                       <td><span class="badge rounded-pill text-bg-@(vehicle.VStatus > 0 ? "danger" : "dark")">@vehicle.VStatus</span></td>
                        //<td><span class="badge rounded-pill text-bg-danger">Booked</span></td>
                        <td class="d-flex flex-row ">
                            <input type="text" class="form-control-sm" disabled="@b._isTaskRunning" @bind="b.NewBooking.KmReturned"/>
                            @* Return button *@
                            <input class="btn btn-primary" type="submit" value="Return Vehicle" disabled="@b._isTaskRunning" @onclick="() => b.ReturnVehicle(vehicle.Id, b.NewBooking.KmReturned)">

                        </td>
                    }
                    @*
                    @if(vehicle.VStatus > 0) {
                    <td><span class="badge rounded-pill text-bg-danger">Booked</span></td>
                    }
                    else{
                    <td><span class="badge rounded-pill text-bg-dark">Available</span></td>
                    }
                    *@
                    
                </tr>

                
            }
          

            @*


              *@
        </tbody>
    </table>
</div>




<br />
<!-- Booking Info  -->
<div class="container">
    <h4><strong>Bookings</strong></h4>
    <table class="table border border-black">
        <thead class="table-dark">
            <tr>
                <th scope="col">SSN</th>
                <th scope="col">Customer</th>
                <th scope="col">RegNo</th>
                <th scope="col">Vehiclemake</th>
                <th scope="col">Km Rented</th>
                <th scope="col">Km Returned</th>
                <th scope="col">Rented</th>
                <th scope="col">Returned</th>
                <th scope="col">Cost</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach(var booking in b.GetBookings())
            {
                @if (booking.BookingStatus == VehicleStatuses.Available)
                {
                    <tr class="border table-borderless">
                        <th>@booking.Person.SocialSecurityNumber</th>
                        <td>@booking.Person.FirstName @booking.Person.LastName</td>
                        <th>@booking.Vehicle.RegNo</th>
                        <td>@booking.Vehicle.VehicleMake</td>
                        <td>@booking.LastKnownOdometer</td>
                        <td>@booking.KmReturned</td>
                        <td>@booking.Start.ToString("MM/dd/yyyy")</td>
                        <td>@booking.End.ToString("MM/dd/yyyy")</td>
                        <td>@booking.Cost Kr</td>

                        <td><span class="badge rounded-pill text-bg-success">Closed</span></td>
                        @*  <td><span class="badge rounded-pill text-bg-@(booking.Vehicle.VStatus.Equals(VehicleStatuses.Available) ? "success" : "danger")">@booking.Vehicle.VStatus</span></td>*@
                    </tr>
                }
                else
                {
                     <tr class="border table-borderless">
                        <th>@booking.Person.SocialSecurityNumber</th>
                        <td>@booking.Person.FirstName @booking.Person.LastName</td>
                        <th>@booking.Vehicle.RegNo</th>
                        <td>@booking.Vehicle.VehicleMake</td>
                        <td>@booking.Vehicle.Odometer</td>
                        <td></td>
                        <td>@booking.Start.ToString("MM/dd/yyyy")</td>
                        <td></td>
                        <td></td>

                        <td><span class="badge rounded-pill text-bg-danger">Open</span></td>
                        @* <td><span class="badge rounded-pill text-bg-@(booking.Vehicle.VStatus > 0 ? "danger" : "success")">@booking.Vehicle.VStatus</span></td>*@
                    </tr>
                }

                    
           
                @*
                    @if (booking.Vehicle.VStatus > 0)
                    {
                        <td><span class="badge rounded-pill text-bg-danger">Booked</span></td>
                    }
                    else
                    {
                        <td><span class="badge rounded-pill text-bg-dark">Available</span></td>
                    }

                *@
            
            }
          
        </tbody>
    </table>

         
</div>


<br />
<!-- Customer  -->

<div class="container">
    <h4><strong>Customer</strong></h4>
    <table class="table border border-black" style= " max-width:60% ">
        <thead class="table-dark" >
            <tr>
                <th scope="col">SSN</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>  <input type="text" class="form-control" placeholder="YYMMDD" @bind="b.NewCustomer.SocialSecurityNumber"></td>
                <td>  <input type="text" class="form-control" placeholder="First Name" @bind="b.NewCustomer.FirstName"></td>
                <td> <input type="text" class="form-control" placeholder="Last Name" @bind="b.NewCustomer.LastName"></td>
                <td> <input class="btn btn-primary" type="submit" value="Add" @onclick="() => b.AddCustomer(b.NewCustomer.SocialSecurityNumber, b.NewCustomer.FirstName, b.NewCustomer.LastName)"></td>
            </tr>
            @foreach (var customer in b.GetCustomers())
            {
                
                <tr class="border table-borderless">
                    <th>@customer.SocialSecurityNumber</th>
                    <th>@customer.FirstName</th>
                    <th>@customer.LastName</th>
                </tr>
            }

        </tbody>
        
    </table>
</div>