@page "/"
@using Business.Classes
@inject Business b

<PageTitle>Car Rental Assignment - G</PageTitle>

<h1>Car Rental Assignment - G</h1>


<!-- Vehicles  -->
<div>
    <h4><strong>Vehicles</strong></h4>
    <table class="table border border-black">
        <thead>
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Make</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">Odometer</th>
                <th scope="col">Cost/Km</th>
                <th scope="col">Cost/Day</th>
                <th scope="col">Status</th>
            </tr>
        </thead>

        <tbody>
             @foreach(var vehicle in b.GetVehicles()){
                <tr class="border table-borderless">

                    <td>@vehicle.RegNo</td>
                    <td>@vehicle.VehicleMake</td>
                    <td>@vehicle.VehicleType</td>
                    <td>@vehicle.Odometer</td>
                    <td>@vehicle.CostKm</td>
                    <td>@vehicle.CostDay</td>
                    @*<td>@vehicle.VStatus</td>*@
                    @* Code the logic for switching available or Booked with ternary expression? *@

                    @if(vehicle.VStatus > 0) {
                    <td><span class="badge rounded-pill text-bg-danger">Booked</span></td>
                    }
                    else{
                    <td><span class="badge rounded-pill text-bg-dark">Available</span></td>
                    }
                  
                    
                </tr>

                
            }
          

            @*


              *@
        </tbody>
    </table>
</div>





<!-- Booking  -->
<div>
    <h4><strong>Boookings</strong></h4>
    <table class="table border border-black">
        <thead>
            <tr>
                <th scope="col">SSN</th>
                <th scope="col">Customer</th>
                <th scope="col">RegNo</th>
                <th scope="col">Vehiclemake</th>
                <th scope="col">Km Rented</th>
                <th scope="col">Km Returned</th>
                <th scope="col">Rented</th>
                <th scope="col">Returned</th>
                <th scope="col">Cost</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>

            @foreach(var booking in b.GetBookings()){
            <tr class="border table-borderless">
                <th>@booking.CustomerSSN</th>
                <th>@booking.Customer</th>
                <th>@booking.RegNo</th>
                <th>@booking.VehiclesMake</th>
                <td>@booking.KmRented</td>
                <td>@booking.KmReturned</td>
                <td>@booking.Start.ToString("MM/dd/yyyy")</td>
                    <td>
                        @if (booking.End != DateTime.MinValue)
                        {
                            @booking.End?.ToString("MM/dd/yyyy")
                        }
                    </td>
                <td>@booking.Cost Kr</td>
                    @if (booking.VStatus > 0)
                    {
                        <td><span class="badge rounded-pill text-bg-danger">Booked</span></td>
                    }
                    else
                    {
                        <td><span class="badge rounded-pill text-bg-dark">Available</span></td>
                    }
            </tr>
            }

        </tbody>
    </table>

         
</div>



<!-- Customer  -->

<div>
    <h4><strong>Customer</strong></h4>
    <table class="table border border-black">
        <thead>
            <tr>
                <th scope="col">SSN</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                
            </tr>
        </thead>
        
        <tbody>
            @foreach (var customer in b.GetCustomers()){
                <tr class="border table-borderless">
                    <th>@customer.SSN</th>
                    <th>@customer.FName</th>
                    <th>@customer.LName</th>
            </tr>
            }

        </tbody>
        
    </table>
</div>




@code {
    string booked = "Booked";
    string available = "Available";

   // bool isBooked;



    private void Book()
    {
        // // Temporär fix
        // if (!isBooked)
        // {
        //     isBooked = false;
        //     return booked;
        // }else
        // {
        //     isBooked = true;
        //     return available;

        // }

       

           /* logik för knappen
          *
          * if(!isBooked){
          *    isBooked = false
          *    @vehicle.VStatus(booked)
          * }
          * else{
          *    isBooked = true
          *     @vehicle.VStatus(default / Available)
          * }
          *
          *
          *
          *
          */
    }

}