@page "/"
@using Business.Classes
@inject BookingProcessor b

<PageTitle>Car Rental Assignment - G</PageTitle>

<h1>Car Rental Assignment - G</h1>


<!-- Vehicles  -->
<div class="container">
    <h4><strong>Vehicles</strong></h4>
    <table class="table border border-black">
        <thead class="table-dark">
            <tr>
                <td>  <input type="text" class="form-control" placeholder="RegNo"></td>
                <td>
                    <button class="btn btn-secondary  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Vehicle Make
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var vehiclemake in b.GetVehicles())
                        {
                            <li><button class="dropdown-item" type="button">@vehiclemake.VehicleMake</button></li>
                        }
                    </ul>
                </td>
                <td>  
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Vehicle Type
                    </button>
                    <ul class="dropdown-menu">
                        @foreach(var vehicletype in b.GetVehicles())
                        {
                        <li><button class="dropdown-item" type="button">@vehicletype.VehicleType</button></li>
                        }
                    </ul>
                </td>
                <td>  <input type="text" class="form-control" placeholder="Odometer"></td>
                <td>  <input type="text" class="form-control" placeholder="Cost/Km"></td>
                <td>  <input type="text" class="form-control" placeholder="Cost/Day"></td>

                <td> <input class="btn btn-primary" type="submit" value="Add"></td>
            </tr>
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Make</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">Odometer</th>
                <th scope="col">Cost/Km</th>
                <th scope="col">Cost/Day</th>
                <th scope="col">Status</th>
            </tr>
        </thead>

        <tbody>
          
             @foreach(var vehicle in b.GetVehicles()){
                <tr class="border table-borderless">

                    <td>@vehicle.RegNo</td>
                    <td>@vehicle.VehicleMake</td>
                    <td>@vehicle.VehicleType</td>
                    <td>@vehicle.Odometer</td>
                    <td>@vehicle.CostKm</td>
                    <td>@vehicle.CostDay</td>
                    @*<td>@vehicle.VStatus</td>*@
                    @* Code the logic for switching available or Booked with ternary expression? *@
                    <td><span class="badge rounded-pill text-bg-@(vehicle.VStatus > 0 ? "danger" : "dark")">@vehicle.VStatus</span></td>
                    @*
                    @if(vehicle.VStatus > 0) {
                    <td><span class="badge rounded-pill text-bg-danger">Booked</span></td>
                    }
                    else{
                    <td><span class="badge rounded-pill text-bg-dark">Available</span></td>
                    }
                    *@
                    
                </tr>

                
            }
          

            @*


              *@
        </tbody>
    </table>
</div>





<!-- Booking  -->
<div class="container">
    <h4><strong>Boookings</strong></h4>
    <table class="table border border-black">
        <thead class="table-dark">
            <tr>
                <th scope="col">SSN</th>
                <th scope="col">Customer</th>
                <th scope="col">RegNo</th>
                <th scope="col">Vehiclemake</th>
                <th scope="col">Km Rented</th>
                <th scope="col">Km Returned</th>
                <th scope="col">Rented</th>
                <th scope="col">Returned</th>
                <th scope="col">Cost</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>

            @foreach(var booking in b.GetBookings()){
            <tr class="border table-borderless">
                <th>@booking.Person.SocialSecurityNumber</th>
                <th>@booking.Person.FirstName @booking.Person.LastName</th>
                <th>@booking.Vehicle.RegNo</th>
                <th>@booking.Vehicle.VehicleMake</th>
                <td>@booking.Vehicle.Odometer</td>
                <td>@booking.KmReturned</td>
                <td>@booking.Start.ToString("MM/dd/yyyy")</td>
                    <td>
                        @if (booking.End != DateTime.MinValue)
                        {
                            @booking.End?.ToString("MM/dd/yyyy")
                        }
                    </td>
                <td>@booking.Cost Kr</td>

                    <td><span class="badge rounded-pill text-bg-@(booking.Vehicle.VStatus > 0 ? "danger" : "success")">@booking.Vehicle.VStatus</span></td>
                @*
                    @if (booking.Vehicle.VStatus > 0)
                    {
                        <td><span class="badge rounded-pill text-bg-danger">Booked</span></td>
                    }
                    else
                    {
                        <td><span class="badge rounded-pill text-bg-dark">Available</span></td>
                    }
                *@
                
            </tr>
            }

        </tbody>
    </table>

         
</div>



<!-- Customer  -->

<div class="container">
    <h4><strong>Customer</strong></h4>
    <table class="table border border-black" style="max-width: 40%">
        <thead class="table-dark" >
            <tr>
                <th scope="col">SSN</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>  <input type="date" class="form-control" placeholder="DateOfBirth"></td>
                <td> <input type="text" class="form-control" placeholder="Last Name"></td>
                <td>  <input type="text" class="form-control" placeholder="First Name"></td>
                <td> <input class="btn btn-primary" type="submit" value="Submit"></td>
            </tr>
            @foreach (var customer in b.GetCustomers()){
                <tr class="border table-borderless">
                    <th>@customer.SocialSecurityNumber</th>
                    <th>@customer.FirstName</th>
                    <th>@customer.LastName</th>
                </tr>
            }

        </tbody>
        
    </table>
</div>



}